<div (click)="onCloseClick()" class="ui dimmer visible active">
  <div (click)="$event.stopPropagation()" class="ui modal visible active">
    <i (click)="onCloseClick()" class="close icon"></i>
    <div class="header">
      ONAY!
    </div>
    <div class="content">
      <p>
        Onaylamak istediğinize emin misiniz!
      </p>
    </div>
    <div class="actions">
      <button style="color:red
      " (click)="onCloseClick()" class="ui button">Hayır</button>
      <button (click)="onCloseClick()" class="ui button">Evet</button>

    </div>
  </div>
</div>